table,
th,
td {
  border-collapse: collapse;
  margin: auto;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #6F44C2;
  color: white;
}

.reports-button {
    border-radius: 3px;
    border: 2px solid #E8E8E8;
}
